<footer>
  <section class='info'>
    <p class='copyright'>
      Copyright © 2018 Emily Yocum.
    </p>
    <p>
      Theme made by <a target='_blank' href='https://kevinholland.me'>Kevin Holland</a>.
    </p>
  </section>
  <section class='social'>
    <a target="_blank" href="https://www.instagram.com/_emilyyocumm/">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/emily-yocum-430b39108/">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </section>
</footer>
