@import 'mixins.scss';

body.post-template, body.page-template {
    .post {
        h1 { font-size: 2.5rem; }
        h2 { font-size: 2rem; }
        h3 { font-size: 1.75rem; }
        h4 { font-size: 1.5rem; }
        h5 { font-size: 1.25rem; }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 5vw;
            div.post-info {
                margin: 0 0 2rem;
                width: 100%;
                max-width: 1000px;
                align-items: flex-start;

                p {
                    justify-content: flex-start;
                    margin: 5px 0;
                    font-size: 2.5rem;
                }
                time {
                    font-size: 1.5rem;
                    margin: 0 0 10px;
                }
            }
            div.cropper {
                max-width: 1200px;
                max-height: 70vh;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    
        div.post-markdown {
            padding: 2rem 2rem;
            margin: 0 auto;
            max-width: 900px;
            font-size: 1.25rem;
            letter-spacing: .5px;
            line-height: 1.5em;
    
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    body.post-template {
       .post {
            header {
                font-size: 1.75rem;

                p {
                    line-height: 1.2em;
                    font-size: 1.75rem;
                }
            }

           div.post-markdown {
                font-size: 1rem;
            }
        }
    }
}
