@import 'mixins.scss';

.post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px auto;
    max-width: 1500px;

    & article {
        position: relative;
        overflow: hidden;
        width: 20rem;
        min-height: 25rem;
        margin: 1em;
        color: white;
        cursor: pointer;
        transition: .25s all ease;
        background-size: cover;
        background-position: center;
        z-index: 1;
        box-shadow: 1px 1px 5px rgba(0,0,0,.3);
        
        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25em;
            z-index: -1;
            background-size: cover;
            background-position: center;
        }

        section.post-main {
            position: absolute;
            bottom: 0;
            min-height: 10em;
            width: 100%;
            box-sizing: border-box;
            padding: 0 1em;
            background-color: white;
            color: black;
            overflow: hidden;
            overflow-wrap: normal;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & header {
                position: relative;

                h2 {
                    font-size: 1.3rem;
                    margin: 1rem 0 .25rem 0;
                    line-height: 1.25em;
                }
    
                a {
                    color: #333;
                    text-decoration: none;
                    margin-bottom: 0;
                }
            }
    
            & p.excerpt {
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.25em;
            }

            & footer {
                // display: flex;
                // justify-content: space-between;
                margin-bottom: 1em;
            }
        }

        &:hover {            
            & section.post-main header a {
                text-decoration: underline;
            }

            &:before {
                background-color: rgba(0,0,0,.6);
            }
        }

        @include darkened;
    }
}
